@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Rubik+Pixels&display=swap');
.container{
    display: flex;
    justify-content: center;
    margin: 50px auto;
}
#gameCanvas{
    border: solid ;
    border-radius: 10px;
    width: 800px;
    height: 600px;
    box-shadow: 5px 5px 50px;
}
/* NAVEGAÇÃO */
.navegacao{
    width: 101%;
    height: 70px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: -10px;
}

.navegacao ul{
    width: 350px;
    display: flex;
}

.navegacao ul li{
    width: 70px;
    height: 70px;
    list-style-type: none;
    position: relative;
    z-index: 1;
}

.navegacao ul li a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    position: relative;
}

.navegacao ul li a .icone{
    display: block;
    line-height: 75px;
    font-size: 20px;
    color: #ffffff;
    position: relative;
    transition: .5s;
}

.navegacao ul li a .texto{
    color: #000000;
    position: absolute;
    opacity: 0;
    transition: .5s;
    transform: translateY(20px);
    font-weight: 800;
}

.navegacao ul li.ativo a .icone{
    transform: translateY(-20px);
    color: #000000;
}

.navegacao ul li.ativo a .texto{
    opacity: 1;
    transform: translateY(5px);
}

.indicador{
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    transition: .5s;
}

.navegacao ul li:nth-child(2).ativo ~ .indicador{
    transform: translateX(calc(70px * 1));
}
.navegacao ul li:nth-child(3).ativo ~ .indicador{
    transform: translateX(calc(70px * 2));
}
.navegacao ul li:nth-child(4).ativo ~ .indicador{
    transform: translateX(calc(70px * 3));
}
.navegacao ul li:nth-child(5).ativo ~ .indicador{
    transform: translateX(calc(70px * 4));
}
/* fim */

/* msg de game over!! */
.telaGameOver{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0, 0, 0);
   z-index: 9999;
display: none; 
}

.msgGameover{
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: white;
    font-weight: 200;
    font-family: 'Metal Mania', cursive;

}
.btn{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 100%;
    left: 100%;
    transform: translate(-140%);
    width: 330px;
    height: 50px;
    border: solid #0037ff;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 15px;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    font-weight: 900;
    
}

.btn:hover {
    background: #0037ff;
    color: white;
    font-size: 16px;
  }